@import '~antd/dist/antd.css';

#root {
    width: 100%;
    height: 100%;
}
.header-row {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    max-width: 100%;
    padding: 5px;
}
.logo {
    display: flex;
    align-items: center;
}
.email {
    cursor: pointer;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    color: white;
}

.img {
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
}
img{
    max-height: 100%;
    max-width: 100%;
    display: block;
}

.ant-layout-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-card-head-title {
    text-align: center;
}

.my-chat {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 80vh;
}